@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

@font-face {
  font-family: "Bloo_Bhai";
  src: url("../../assets/font/BalooBhai-Regular.ttf") format("truetype");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.home {
  background-image: url("../../assets/img/33527.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;

  @include media-breakpoint-down(md) {
    background-image: url("../../assets/img/totoroMobile.jpg");
  }

  &__loginForm {
    width: 30%;
    padding: 0 6px;

    @include media-breakpoint-down(md) {
      width: 90%;
    }

    h1 {
      font-family: "Bloo_Bhai";
      color: white;
      text-align: center;
      font-size: 70px;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
      margin-top: 6vh;

      @include media-breakpoint-down(md) {
        font-size: 50px;
        margin-top: 10vh;
      }
    }

    &--form {
      width: 100%;
      display: flex;
      flex-direction: column;
      background-color: rgba(221, 216, 216, 0.447);
      padding: 15px;
      border-radius: 15px;
      backdrop-filter: blur(5px); /* Mờ ảnh hưởng đến phần tử phía sau */
      margin-top: 40px;

      input {
        height: 36px;
        border: 0;
        padding: 0 10px;
        border-radius: 6px;
        background-color: rgb(255, 248, 248);
        font-size: 14px;
      }

      input:focus {
        outline: none;
      }

      label {
        font-size: 14px;
        font-weight: 600;
        margin: 6px 0;
      }

      .show-password {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px 0;
        div {
          display: flex;
          align-items: center;

          input {
            width: 15px;
            height: 15px;
          }

          input[type="checkbox"]:checked {
            background-color: green; /* Màu nền của checkbox khi được chọn */
          }

          span {
            margin-left: 5px;
            font-size: 14px;
            font-weight: 600;
          }
        }

        a {
          text-decoration: none;
          color: #3d0557;
        }
      }

      button {
        height: 38px;
        border-radius: 6px;
        border: 0;
        background-color: #270536;
        font-size: 14px;
        color: #fff;
        font-weight: 600;
      }

      p {
        font-size: 14px;
        margin-top: 12px;
        text-align: center;
        font-weight: 600;

        a {
          text-decoration: none;
          color: #6d0998;
        }
      }
    }
  }
}

.menu {
  &__language {
    position: absolute;
    right: 100px;
    top: 40px;
    height: 30px;
    background-color: #fff;
    padding: 0 5px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: showMenu 0.4s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    @include media-breakpoint-down(md) {
      right: 5px;
      top: 10px;
    }

    &--img {
      width: 30px;
      height: 30px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &--showLanguage {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 50px;
      background-color: rgba(230, 226, 221, 0.603);
      margin-left: 5px;
      border-radius: 6px;
    }

    &--showLanguage:hover {
      cursor: pointer;
    }

    &--list {
      list-style-type: none;
      position: absolute;
      top: 32px;
      right: 5px;
      width: 45px;
      border-radius: 6px;
      background-color: #fff;
      animation: showMenu 0.4s ease-in-out;
      li {
        text-align: center;
        padding: 3px;
      }

      li:hover {
        cursor: pointer;
        background-color: #995bb46c;
      }

      li:first-child:hover {
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
      }

      li:last-child:hover {
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
      }

      @keyframes showMenu {
        0% {
          opacity: 0.7;
        }

        100% {
          opacity: 1;
        }
      }

      .languageActive {
        font-weight: bold;
        // background-color: #995bb46c;
      }
    }
  }
}

.arrowdown-icon {
  width: 15px;
  height: 15px;
  transition: transform 0.3s ease-in-out;
}

.arrowdown-icon.rotate-icon {
  transform: rotate(180deg);
}
